---
import SimpleMardownRender from "@components/SimpleMardownRender.astro";
import MDXImage from "@components/mdx/MDXImage.astro";
import homeData from "@data/homeData.json";
import Gallery from "./Gallery.astro";
import OffreCard from "./OffreCard.astro";
import TestimonialSlider from "./TestimonialSlider.astro";
const props = Astro.props;
---

<>
  <section class="section">
    <div class="container-in-section">
      <h1 class="text-h1-home">{homeData.intro_title}</h1>
      <p class="markdown">{homeData.intro_text}</p>
    </div>
  </section>
  <section class="section gris-1">
    <div class="container-in-section">
      <h2 class="title-box">{homeData.intro_offre}</h2>
      <div class="grid grid-cols-4 gap-1">
        {
          homeData.offres.map((offre, idex) => {
            return <OffreCard {offre} />;
          })
        }
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container-in-section">
      <h2 class="title-box">{homeData.principe_title}</h2>
      <SimpleMardownRender
        markdown={homeData.principe_sub_title}
        classes="markdown *:text-h2-sub"
      />
      <SimpleMardownRender
        markdown={homeData.principe_text}
        classes="markdown"
      />
    </div>
    <div class="container-in-section flex !flex-row">
      <MDXImage
        src={homeData.principe_image.src}
        alt={homeData.principe_image.alt}
        width={756}
        class="image-frame w-[756px] shrink-0"
        frameClass="image-frame"
      />
      <div class="flex-1">
        <SimpleMardownRender
          markdown={homeData.principe_text_image}
          classes="markdown-full"
        />
        <a href={homeData.principe_text_bt_url} class="btn btn-primary">
          {homeData.principe_text_bt_label}
        </a>
      </div>
    </div>
  </section>
  <TestimonialSlider testimonials={homeData.testimonial} />
  <Gallery gallery={homeData.gallery} />
</>
