---
import SimpleMardownRender from "@components/SimpleMardownRender.astro";
import MDXImage from "@components/mdx/MDXImage.astro";
import { Icon } from "astro-icon/components";

type Props = {
  name: string;
  published: boolean;
  role: string;
  education: string;
  citation: string;
  bio: string;
  image_inactive: string;
  image_active: string;
  linkedin: string;
  email: string;
  idx: number;
};
const {
  name,
  published,
  role,
  education,
  citation,
  bio,
  image_inactive,
  image_active,
  linkedin,
  email,
  idx,
} = Astro.props;
---

{
  published && (
    <article
      class:list={[
        "group flex w-full gap-[2.53rem] py-[2.26rem] transition-all",
        {
          "flex-col lg:flex-row": idx % 2 === 0,
        },
        {
          "flex-col lg:flex-row-reverse": idx % 2 === 1,
        },
      ]}
    >
      <div class="flex-none">
        <MDXImage
          src={image_inactive}
          alt={name}
          width={630}
          class="rounded-full group-has-[input:checked]:hidden md:w-[14.10526rem]"
        />
        <MDXImage
          src={image_active}
          alt={name}
          width={630}
          class="hidden rounded-full group-has-[input:checked]:block md:w-[14.10526rem]"
        />
      </div>
      <div class="flex flex-col">
        <h2 class="mb-1 text-[1.47368rem]">{name}</h2>
        <p class="text-[1.05263rem]">{role}</p>
        <p class="mb-4 text-[0.84211rem] italic">{education}</p>
        <p class="mb-4 w-fit flex-none bg-neutre px-1 font-bold text-primary">
          “{citation}”
        </p>
        <SimpleMardownRender
          markdown={bio}
          classes="prose !max-w-full group-has-[input:checked]:line-clamp-none line-clamp-4 transition-all"
        />
        <label for={`chk-${idx}`} class="m-2 flex translate-x-2 justify-end">
          <input id={`chk-${idx}`} type="checkbox" class="peer/chk hidden" />
          <Icon
            name="plus"
            width={24}
            height={24}
            class="peer-checked/chk:hidden"
          />
          <Icon
            name="minus"
            width={24}
            height={24}
            class="hidden peer-checked/chk:inline-block"
          />
        </label>
      </div>
    </article>
  )
}
