---
import navSecondary from "@data/navDataSecondary.json";
import siteData from "@data/siteData.json";
import { Icon } from "astro-icon/components";
import SimpleMardownRender from "./SimpleMardownRender.astro";
import NavRoot from "./navigation/NavRoot.astro";
const navDesignClass: NavClassConfig = {
  navRoot: "",
  ulList: "flex flex-row gap-4 md:justify-center",
  link: (i) => {
    return ["underline primary-content text-[0.84211rem]"];
  },
};
---

<footer class="mb-4 mt-8 bg-primary px-2 py-9 lg:px-9">
  <div class="container relative flex flex-col gap-2">
    {
      siteData.informations && siteData.informations.length > 0 && (
        <SimpleMardownRender
          markdown={siteData.informations}
          classes="markdown *:mb-0 *:text-[0.84211rem] *:lg:text-[0.84211rem] *:lg:text-center mx-auto !max-w-full lg:!max-w-[80%] px-4"
        />
      )
    }
    <NavRoot
      menuData={navSecondary}
      menuName="Secondary"
      navDesignConfig={navDesignClass}
    />
    <div
      class="right-0 top-[calc(50%-16px)] flex items-center gap-4 md:absolute md:justify-end"
    >
      {
        siteData.networks.map((network) => (
          <a
            href={network.url}
            class="inline-flex gap-1"
            target="_blank"
            rel="noopener noreferrer"
            title={network.title}
          >
            <Icon
              name={network.icon}
              width={45}
              height={45}
              class={`h-[45px] w-[45px] transition-colors duration-300 hover:text-red-600`}
            />
          </a>
        ))
      }
    </div>
    <p class="text-[0.84211rem] md:text-center">
      &copy; <a
        href="https://novagaia.fr/"
        target="_blank"
        rel="noopener noreferrer"
        >NovaGaïa
        <span id="copyright"></span> | All rights reserved</a
      >
    </p>
  </div>
</footer>

<script>
  const obj = document.querySelector("#copyright") || undefined;
  if (obj !== undefined) {
    obj.textContent = new Date().getFullYear().toString();
  } else {
  }
</script>
