---
import navSecondary from "@data/navDataSecondary.json";
import siteData from "@data/siteData.json";
import { Icon } from "astro-icon/components";
import SimpleMardownRender from "./SimpleMardownRender.astro";
import NavRoot from "./navigation/NavRoot.astro";
const navDesignClass: NavClassConfig = {
  navRoot: "",
  ulList: "flex flex-row gap-4 justify-center",
  link: (i) => {
    return ["underline dark:dark-primary-content"];
  },
};
---

<footer class="mb-4 mt-8 bg-primary p-9">
  <div class="container flex flex-col gap-5">
    {
      siteData.informations && siteData.informations.length > 0 && (
        <SimpleMardownRender
          markdown={siteData.informations}
          classes="markdown *:mb-0 *:text-sm *:text-center mx-auto max-w-[80%] px-4"
        />
      )
    }
    <NavRoot
      menuData={navSecondary}
      menuName="Secondary"
      navDesignConfig={navDesignClass}
    />
    <div class="flex items-center justify-end gap-4 px-4">
      {
        siteData.networks.map((network) => (
          <a
            href={network.url}
            class="inline-flex gap-1"
            target="_blank"
            rel="noopener noreferrer"
            title={network.title}
          >
            <Icon
              name={network.icon}
              width={45}
              height={45}
              class={`h-[45px] w-[45px]`}
            />
          </a>
        ))
      }
    </div>
    <p class="text-center">
      &copy; <a
        href="https://novagaia.fr/"
        target="_blank"
        rel="noopener noreferrer">NovaGaïa</a
      >
      <span id="copyright"></span> | All rights reserved
    </p>
  </div>
</footer>

<script>
  const obj = document.querySelector("#copyright") || undefined;
  if (obj !== undefined) {
    obj.textContent = new Date().getFullYear().toString();
  } else {
  }
</script>
